@model List<ReservationModel>
@{

}

<body class="bg-gray-900 text-white d-flex flex-column min-vh-100">
    <div class="container mt-4 flex-grow-1">

        <div class="d-flex justify-content-center gap-3 mb-4">
            <a asp-controller="Statistics" asp-action="StatisticSelection" class="btn btn-soft-info me-2 fs--1">
                <i class="bi bi-arrow-left-circle me-1"></i> @SharedResource.backToList
            </a>
        </div>

        <!-- Title -->
        <h3 class="section-title text-center mb-4">@SharedResource.reservationReoport</h3>

        <!-- Table -->
        <div id="reservationsTable" data-list='{"valueNames":["device","deviceType","pricePerHour","startdate","endDate","price","paid"],"page":10}'>
            <div class="table-responsive">
                <table class="table table-striped table-sm fs--1 mb-0">
                    <thead>
                        <tr>
                            <th class="sort border-top py-2 text-center" data-sort="device">@SharedResource.DeviceName</th>
                            <th class="sort border-top py-2 text-center" data-sort="deviceType">@SharedResource.deviceType</th>
                            <th class="sort border-top py-2 text-center" data-sort="pricePerHour">@SharedResource.gameHourPrice</th>
                            <th class="sort border-top py-2 text-center" data-sort="startdate">تاريخ البدء</th>
                            <th class="sort border-top py-2 text-center" data-sort="endDate">تاريخ الانتهاء</th>
                            <th class="sort border-top py-2 text-center" data-sort="price">@SharedResource.reservationPrice</th>
                            <th class="sort border-top py-2 text-center" data-sort="paid">@SharedResource.amountTaken</th>
                        </tr>
                    </thead>

                    <tbody class="list">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var rowClass = i % 2 == 0 ? "bg-white bg-opacity-10" : "bg-white bg-opacity-25";
                            <tr class="@rowClass">
                                <td class="device align-middle text-center">@Model[i].Device.Name</td>
                                <td class="deviceType align-middle text-center">@Model[i].Device.DeviceType.Name</td>
                                <td class="pricePerHour align-middle text-center">@Model[i].Device.DeviceType.DevicePrice.PricePerHour</td>
                                <td class="startdate align-middle text-center">@Model[i].StartTime.ToString("yyyy/MM/dd HH:mm")</td>
                                <td class="endDate align-middle text-center">@Model[i].EndTime</td>
                                <td class="price align-middle text-center">@Model[i].AmountDue</td>
                                <td class="paid align-middle text-center">@Model[i].AmountPaid</td>
                            </tr>
                        }
                    </tbody>

                    <tfoot class="table-group-divider" id="table">
                        <tr class="table-active">
                            <td colspan="5" class="text-end fw-bold">@SharedResource.total:</td>
                            <td class="fw-bold text-danger text-center">@Model.Sum(s => s.AmountDue)</td>
                            <td class="fw-bold text-danger text-center">@Model.Sum(s => s.AmountPaid)</td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-center small text-muted">
                                @SharedResource.updateDate: @DateTime.Now.ToString("yyyy/MM/dd HH:mm")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
            </div>
        </div>
    </div>


</body>