@model List<ReservationModel>
@{
    ViewData["Title"] = SharedResource.ResrvationByTodayStatistics + " || GameHub Manager";
}

<body class="bg-gray-900 text-white d-flex flex-column min-vh-100">
    <div class="container mt-4 flex-grow-1">

        <div class="d-flex justify-content-center gap-3 mb-4">
            <a asp-controller="Statistics" asp-action="StatisticSelection" class="btn btn-soft-info me-2 fs--1">
                <i class="bi bi-arrow-left-circle me-1"></i> @SharedResource.backToList
            </a>
        </div>

        <!-- Title -->
        <h3 class="section-title text-center mb-4">@SharedResource.TodayReservationReoport</h3>

        <!-- Table -->
        <div id="reservationsTable" data-list='{"valueNames":["device","deviceType","pricePerHour","startdate","endDate","price","paid"],"page":10}'>
            <div class="table-responsive">
                <table class="table table-striped table-sm fs--1 mb-0">
                    <thead>
                        <tr>
                            <th class="sort border-top py-2 text-center" data-sort="device">@SharedResource.DeviceName</th>
                            <th class="sort border-top py-2 text-center" data-sort="deviceType">@SharedResource.deviceType</th>
                            <th class="sort border-top py-2 text-center" data-sort="pricePerHour">@SharedResource.gameHourPrice</th>
                            <th class="sort border-top py-2 text-center" data-sort="startdate">@SharedResource.startDate</th>
                            <th class="sort border-top py-2 text-center" data-sort="endDate">@SharedResource.endDate</th>
                            <th class="sort border-top py-2 text-center" data-sort="price">@SharedResource.reservationPrice</th>
                            <th class="sort border-top py-2 text-center" data-sort="paid">@SharedResource.amountTaken</th>
                        </tr>
                    </thead>

                    <tbody id="table">
                        @foreach (var Reservations in Model)
                        {
                            <tr>
                                <td class="text-center">@Reservations.Device.Name</td>
                                <td class="text-center">@Reservations.Device.DeviceType.Name</td>
                                <td class="text-center">@Reservations.Device.DeviceType.DevicePrice.PricePerHour</td>
                                <td class ="text-center">@Reservations.StartTime.ToString("yyyy/MM/dd HH:mm")</td>
                                <td class="text-center">@Reservations.EndTime</td>
                                <td class="text-center">@Reservations.AmountDue</td>
                                <td class="text-center">@Reservations.AmountPaid</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="table-group-divider" id="table">
                        <tr class="table-active">
                            <td colspan="5" class="text-end fw-bold">@SharedResource.total:</td>
                            <td class="fw-bold text-danger text-center">@Model.Sum(s => s.AmountDue)</td>
                            <td class="fw-bold text-danger text-center">@Model.Sum(s => s.AmountPaid)</td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-center small text-muted">
                                @SharedResource.updateDate: @DateTime.Now.ToString("yyyy/MM/dd HH:mm")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    </body>

