@model List<DeviceTypeModel>

@{
    ViewData["Title"] = SharedResource.deviceTypeList + " || GameHub Manager";
}

<body class="bg-gray-900 text-white d-flex flex-column min-vh-100">
    <div class="container mt-5 flex-grow-1">
        <div class="position-relative mb-4">
            <h3 class="section-title text-center m-0">@SharedResource.deviceTypeList</h3>
            <div class="position-absolute end-0 top-50 translate-middle-y">
                <button class="btn btn-soft-success px-4" data-bs-toggle="modal" data-bs-target="#addDeviceTypeModal" onclick="resetModal()">
                    <i class="bi bi-plus-circle me-1"></i> @SharedResource.addNewDeviceType
                </button>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm fs--1 mb-0">
                <thead>
                    <tr>
                        <th class="border-top">@SharedResource.image</th>
                        <th class="border-top">@SharedResource.deviceTypeName</th>
                        <th class="border-top">@SharedResource.hourlyRate</th>
                        <th class="border-top">@SharedResource.controllers</th>
                        <th class="border-top text-end">@SharedResource.options</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var deviceType = Model[i];
                        var rowClass = i % 2 == 0 ? "bg-white bg-opacity-10" : "bg-white bg-opacity-25";

                        <tr class="@rowClass">
                            <td class="align-middle">
                                <img src="@(string.IsNullOrEmpty(deviceType.ImagePath) ? "/images/default.png" : deviceType.ImagePath)"
                                     alt="@deviceType.Name" class="rounded-circle" width="50" height="50">
                            </td>
                            <td class="align-middle">@deviceType.Name</td>
                            <td class="align-middle">
                                @(deviceType.DevicePrice?.PricePerHour != null
                                    ? deviceType.DevicePrice.PricePerHour + " " + SharedResource.perHour
                                    : SharedResource.notSpecifiedYet)
                            </td>
                            <td class="align-middle">@((deviceType.HasControllers) ? SharedResource.thereAreControllers : SharedResource.noControllers)</td>
                            <td class="align-middle text-end">
                                <button class="btn btn-soft-warning btn-sm me-1"
                                        onclick="editDeviceType(@deviceType.Id, '@deviceType.Name', '@deviceType.ImagePath', @deviceType.DevicePrice?.PricePerHour, @(deviceType.HasControllers.ToString().ToLower()))">
                                    @SharedResource.edit
                                </button>
                                <form asp-controller="Employer" asp-action="ToggleDeviceTypeStatus" method="post" class="d-inline">
                                    <input type="hidden" name="DeviceId" value="@deviceType.Id" />

                                    @if (deviceType.IsActive)
                                    {
                                        <button type="submit" class="btn btn-soft-danger btn-sm"
                                                onclick="return confirm('@SharedResource.deleteDeviceTypeConfirmation')">
                                            @SharedResource.delete
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-soft-primary btn-sm">
                                            @SharedResource.activate
                                        </button>
                                    }
                                </form>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center gap-3 mt-3 mb-4">
            <a asp-controller="Employer" asp-action="Dashboard" class="btn btn-soft-info me-2">@SharedResource.backToHomeScreen</a>
        </div>
    </div>

    <div class="modal fade" id="addDeviceTypeModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content shadow-sm">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@SharedResource.close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Employer" asp-action="AddOrUpdateDeviceType" id="deviceTypeForm" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="deviceTypeId" name="Id">
                        <div class="mb-3">
                            <label class="form-label">@SharedResource.deviceTypeName</label>
                            <input type="text" class="form-control" id="deviceTypeName" name="Name" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@SharedResource.containsControllers</label>
                            <select class="form-select" id="hasControllers" name="HasControllers" required>
                                <option value="true">@SharedResource.yes</option>
                                <option value="false">@SharedResource.no</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@SharedResource.uploadImage</label>
                            <input type="file" class="form-control" id="deviceImage" name="ImageFile">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">@SharedResource.save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function resetModal() {
            document.getElementById('deviceTypeId').value = '';
            document.getElementById('deviceTypeName').value = '';
            document.getElementById('modalLabel').innerText = @Html.Raw(Json.Serialize(SharedResource.addNewDeviceType));
            document.getElementById('hasControllers').value = "true";
        }

        function editDeviceType(id, name, imagePath, price, hasControllers) {
            document.getElementById('deviceTypeId').value = id;
            document.getElementById('deviceTypeName').value = name;
            document.getElementById('modalLabel').innerText = @Html.Raw(Json.Serialize(SharedResource.editDeviceType));
            document.getElementById('hasControllers').value = hasControllers.toString();
            var modal = new bootstrap.Modal(document.getElementById('addDeviceTypeModal'));
            modal.show();
        }
    </script>
</body>
