@model AddDeviceViewModel

@{
    ViewData["Title"] = SharedResource.deviceList + " || GameHub Manager";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>

<body class="bg-gray-900 text-white d-flex flex-column min-vh-100">

    <div class="container mt-5 flex-grow-1">
        <div class="position-relative mb-4">
            <h3 class="section-title text-center m-0">@SharedResource.deviceList</h3>
            <div class="position-absolute end-0 top-50 translate-middle-y">
                <button class="btn btn-soft-success px-4" data-bs-toggle="modal" data-bs-target="#addDeviceModal" onclick="resetModal()">
                    <i class="bi bi-plus-circle me-1"></i> @SharedResource.addNewDevice
                </button>
            </div>
        </div>


        <div id="deviceTable" data-list='{"valueNames":["index","image","name","type","price"],"page":10,"pagination":{"innerWindow":2,"left":1,"right":1}}'>
            <div class="table-responsive">
                <table class="table table-striped table-sm fs--1 mb-0">
                    <thead>
                        <tr>
                            <th class="sort border-top" data-sort="index">#</th>
                            <th class="border-top">@SharedResource.image</th>
                            <th class="sort border-top" data-sort="name">@SharedResource.DeviceName</th>
                            <th class="sort border-top" data-sort="type">@SharedResource.deviceType</th>
                            <th class="sort border-top" data-sort="price">@SharedResource.gameHourPrice</th>
                            <th class="border-top text-end">@SharedResource.options</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @for (int i = 0; i < Model.Devices.Count; i++)
                        {
                            var device = Model.Devices[i];
                            var rowClass = i % 2 == 0 ? "bg-white bg-opacity-10" : "bg-white bg-opacity-25";
                            <tr class="@rowClass">
                                <td class="index align-middle">@(i + 1)</td>
                                <td class="image align-middle">
                                    <img src="@(string.IsNullOrEmpty(device.DeviceType.ImagePath) ? "/images/default.png" : device.DeviceType.ImagePath)"
                                         alt="@device.DeviceType.Name" class="rounded-circle" width="50" height="50">
                                </td>
                                <td class="name align-middle">@device.Name</td>
                                <td class="type align-middle">@device.DeviceType.Name</td>
                                <td class="price align-middle">
                                    @(device.DeviceType.DevicePrice?.PricePerHour != null
                                        ? device.DeviceType.DevicePrice.PricePerHour + " " + SharedResource.perHour : SharedResource.notSpecifiedYet)
                                </td>
                                <td class="align-middle text-end">
                                    <button class="btn btn-soft-warning btn-sm me-1"
                                            onclick="editDevice(@device.Id, '@device.Name', '@device.DeviceType.ImagePath', @device.DeviceType.DevicePrice?.PricePerHour)">
                                        @SharedResource.edit
                                    </button>
                                    <form asp-controller="Employer" asp-action="ToggleDeviceStatus" method="post" class="d-inline">
                                        <input type="hidden" name="DeviceId" value="@device.Id" />

                                        @if (device.IsActive)
                                        {
                                            <button type="submit" class="btn btn-soft-danger btn-sm"
                                                    onclick="return confirm('@SharedResource.areYouSureYouWantToDeleteThisDevice')">
                                                @SharedResource.delete
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-soft-primary btn-sm">
                                                @SharedResource.activate
                                            </button>
                                        }
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
            </div>
            <div class="d-flex justify-content-center gap-3 mt-3 mb-4">
                <a asp-controller="Employer" asp-action="Dashboard" class="btn btn-soft-info me-2">@SharedResource.backToHomeScreen</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addDeviceModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content shadow-sm">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@SharedResource.close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Employer" asp-action="AddOrUpdateDevice" id="deviceForm" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="deviceId" name="Id">
                        <div class="mb-3">
                            <label class="form-label">@SharedResource.DeviceName</label>
                            <input type="text" class="form-control" id="deviceName" name="Name" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">@SharedResource.deviceType</label>
                            <select class="form-select" name="DeviceTypeId" required>
                                <option value="">@SharedResource.chooseDeviceType</option>
                                @foreach (var deviceType in Model.DeviceTypes)
                                {
                                    <option value="@deviceType.Id">@deviceType.Name</option>
                                }
                            </select>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">@SharedResource.save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function resetModal() {
            document.getElementById('deviceId').value = '';
            document.getElementById('deviceName').value = '';
            document.getElementById('modalLabel').innerText = @Html.Raw(Json.Serialize(SharedResource.addNewDevice));
        }

        function editDevice(id, name, imagePath, price) {
            document.getElementById('deviceId').value = id;
            document.getElementById('deviceName').value = name;
            document.getElementById('modalLabel').innerText = @Html.Raw(Json.Serialize(SharedResource.editDevice));
            var modal = new bootstrap.Modal(document.getElementById('addDeviceModal'));
            modal.show();
        }
    </script>

</body>